.imageBox {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    height: 120vh;
    width: 50%;

    .image-container{

        position: relative;
        display: flex;
        height: 100vh;
        justify-content: center;

        .iphone {
            padding: 5%;
            transition: trasform 0.5s ease-out;
            position: absolute;
            //bottom: -120vh;
        }
        .tablet {
            padding: 5%;
            transition: trasform 0.5s ease-out;
            position: absolute;
            //bottom: -90vh;
        }
        .monitor {
            padding: 5%;
            transition: trasform 0.5s ease-out;
            position: absolute;
            //bottom: -110vh;
        }
    }
}