@import './variables';

.container{
    height: 50vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    .center-ver{
    height: 100%;
    @include flexCenter;
    //border: green solid 1px;

        .parallax-title{
            display: flex;
            align-items: center;
            height: 100%;
            font-family: $Vietnam;
            transition: transform 1.5s ease-out;
            position: absolute;
            color: $secondary;
            left: -15%;
            --min-font-size: 30;
            --max-font-size: 150;
            --fluid-size: var(--min-font-size) * 1px + (var(--max-font-size) - var(--min-font-size)) * ((100vw - 420px) / (1200 - 420));
            font-size:
            clamp(
                var(--min-font-size) * 1px,
                var(--fluid-size),
                var(--max-font-size) * 1px
                );
                z-index: -1;
        }
        .aboutDescription {
            //border: 1px pink solid;
            text-align: left;
            margin-left: 30%;
            margin-right: 5%;
            --min-font-size: 12;
            --max-font-size: 40;
            --fluid-size: var(--min-font-size) * 1px + (var(--max-font-size) - var(--min-font-size)) * ((100vw - 420px) / (1200 - 420));
            font-size:
            clamp(
                var(--min-font-size) * 1px,
                var(--fluid-size),
                var(--max-font-size) * 1px
                );
        }
    }
}