@import './variables';

.container{

    .parallax-title-contact{
        display: flex;
        align-items: center;
        height: 100%;
        font-family: $Vietnam;
        transition: transform 1.5s ease-out;
        position: absolute;
        color: $secondary;
        left: 20%;
        --min-font-size: 30;
        --max-font-size: 150;
        --fluid-size: var(--min-font-size) * 1px + (var(--max-font-size) - var(--min-font-size)) * ((100vw - 420px) / (1200 - 420));
        font-size:
        clamp(
            var(--min-font-size) * 1px,
            var(--fluid-size),
            var(--max-font-size) * 1px
            );
                z-index: -1;
    }
    .social{
        @include flexCenter;
        height: 100%;
        
        .social-element{
            position: relative;
            display: flex;
            
            .social-icon{
                list-style: none;
                 
                &::before{
                    content: attr(data-text);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, calc(-50% + 5.5vw));
                    font-size: 5vw;
                    pointer-events: none;
                    transition: 0.5s;
                    opacity: 0;
                }
                &:hover::before{
                    opacity: 0.1;
                    transform: translate(-50%, calc(-50% + 6.5vw));
                }

                a{
                    position: relative;
                    display: inline-block;
                    width: 15vw;
                    height: 15vw;
                    @include flexCenter;
                    color: $dark;
                    text-decoration: none;
                    margin: 1vw;
                    font-size: 5vw;

                    &:hover.github {
                        color:#4e4848
                    }
                    &:hover.linkedin {
                        color:#0072b1
                    }
                    &:hover.mail {
                        color:#177300
                    }
                    &:hover.facebook {
                        color:#1877f2
                    }
                    &:hover.instagram {
                        color:#e4405f
                    }
                }
            }
        }
    }
}