@import './variables';

.container{
    @include flexCenter;
    .parallax-title-skills{
        display: flex;
        align-items: center;
        height: 100%;
        font-family: $Vietnam;
        transition: transform 1.5s ease-out;
        position: absolute;
        color: $secondary;
        right: 30%;
        --min-font-size: 30;
        --max-font-size: 150;
        --fluid-size: var(--min-font-size) * 1px + (var(--max-font-size) - var(--min-font-size)) * ((100vw - 420px) / (1200 - 420));
        font-size:
        clamp(
            var(--min-font-size) * 1px,
            var(--fluid-size),
            var(--max-font-size) * 1px
            );
        z-index: -1;
    }

    .skills {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 2%;
        @include flexCenter;
        --min-font-size: 10;
        --max-font-size: 30;
        --fluid-size: var(--min-font-size) * 1px + (var(--max-font-size) - var(--min-font-size)) * ((100vw - 420px) / (1200 - 420));
        font-size:
        clamp(
            var(--min-font-size) * 1px,
            var(--fluid-size),
            var(--max-font-size) * 1px
        );

        .column {
            flex: 33.33%;
        }

    }
}