@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500;600;700;800;900&family=Nothing+You+Could+Do&family=Poppins:wght@200;300;400&family=Roboto:wght@300;400&display=swap');

//font
$Vietnam: 'Be Vietnam Pro', sans-serif;
$Nothing: 'Nothing You Could Do', cursive;
$Roboto: 'Roboto', sans-serif;
$Poppins: 'Poppins', sans-serif;


//colors
$primary: white;
$secondary: rgb(221, 221, 221);
$dark: rgb(29, 29, 29);

//mixins
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}